.outer {
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.title-flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.inner-div {
    margin: 1em auto;
    border: solid dimgray;
    text-align: center;
    width: 14vh;
}

.inner-round {
    margin: 3em auto;
}

.common-div {
    width: 100%;
}

.team-title {
    padding: 5px;
}

.page-title {
    font-size: 1.875em;
    color: indigo;
}

.conference-title {
    margin: auto;
    color: green;
    font-size: 1.475em;
}